*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5em;
}
button{
    background-color: rgb(26, 196, 196);
    color: aliceblue;
    width: 10em;
    border-radius: 12px;
    padding: 2px;
}
button:hover{
    background-color: rgb(14, 90, 90);
    cursor: pointer;
}
.calculator{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 2em;
    justify-content: flex-start;
    align-items:center;
    flex-wrap: wrap;
    border-radius: 12px;
    border: black solid;
    max-width: 30em;
    min-width: 20em;
}
.display{
    border-radius: 6px;
    display: flex;
    border: solid black;
    width: 50%;
    min-height: 2em;
    text-overflow: clip;
    justify-content: center;
    align-items: center;
}
.operations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.numberBtns{
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    width: 80%;
}
.one-thru-three{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 14px;
}
.four-thru-six{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 14px;

}
.seven-thru-nine{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 14px;
}